<pre>{{signUpForm.value | json}}</pre>
<form [formGroup]="signUpForm">
    <h1>Registrate</h1>
    <fieldset>
        <legend>Datos de Usuario</legend>
        <div>
            <label for="txtNombre">Nombre: </label>
            <input type="text" id="txtNombre" formControlName="nombre" required>
            <app-message-errors [controlName]="signUpForm.controls['nombre']" [messages]="nombreMessage"></app-message-errors>
        </div>
        <div>
            <label for="txtApellidos">Apellidos: </label>
            <input type="text" id="txtApellidos" formControlName="apellidos" required>
            <app-message-errors [controlName]="signUpForm.controls['apellidos']" [messages]="apellidosMessage"></app-message-errors>
        </div>
        <div>
            <label for="txtEdad">Edad: </label>
            <input type="number" id="txtEdad" value="18" min="18" max="100" formControlName="edad">
            <app-message-errors [controlName]="signUpForm.controls['edad']" [messages]="edadMessage"></app-message-errors>
        </div>
        <div>
            <label for="txtDni">Dni: </label>
            <input type="text" id="txtDni" formControlName="dni" required>
            <app-message-errors [controlName]="signUpForm.controls['dni']" [messages]="dniMessage"></app-message-errors>
        </div>
        <div>
            <label for="txtCorreo">Correo: </label>
            <input type="email" id="txtCorreo" formControlName="correo" required>
            <app-message-errors [controlName]="signUpForm.controls['correo']" [messages]="correoMessage"></app-message-errors>
        </div>
        <div>
            <label for="txtContrasena">Contraseña: </label>
            <input type="password" id="txtContrasena" formControlName="contrasena" required>
            <app-message-errors [controlName]="signUpForm.controls['contrasena']" [messages]="contrasenaMessage"></app-message-errors>
        </div>
        <div>
            <div *ngFor="let rol of roles; let i = index">
                <input type="checkbox" name="roles" [id]="'chk' + rol.name" [value]="rol.value" formArrayName="roles" (change)="onChkRoles($event)">
                <label [for]="'chk' + rol.name">{{rol.name}}</label>
            </div>
            <app-message-errors [controlName]="signUpForm.controls['roles']" [messages]="{ required: 'El usuario debe asignar por lo menos 1 rol.' }"></app-message-errors>
        </div>
    </fieldset>

    <button type="submit" [disabled]="signUpForm.invalid">Registrar</button>
    <a href="/usuario/login">Ya tengo una cuenta.</a>
</form>
